.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    
}

.artikler{
    margin-top: 50px;
    color: #77626b;
    font-family: 'Playfair Display', cursive;
    font-size: 20px;
}

.lille-artikel-tekst{
    font-size: 12px;
}

.buy{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

